<div id="header">

</div>
<div class="wrapper">
  <div id="content" class="content">
  </div>
  <div class="side-content">

    <ul class="side-nav links">
      <li><a href="http://talentriot.com" target="_blank">TalentRiot.com</a></li>
      <li><a href="https://twitter.com/stepan" target="_blank">@stepan</a></li>
      <li><a href="https://twitter.com/nathankluth" target="_blank">@nathankluth</a></li>
      <li><a href="https://github.com/talentriot">GitHub</a></li>
    </ul>

    <p><img src="https://secure.gravatar.com/avatar/7ab5e192f5d81409b3472787a1001674?s=320" /></p>

  </div>

</div>
<footer class="wrapper">
</footer>
