<div id="header" class="wrapper">

</div>
<div class="wrapper">
  <div id="content">
  </div>

  <div class="side-content">

    <ul class="side-nav">
      <li><a href="#">Section 1</a></li>
      <li><a href="#">Section 2</a></li>
      <li><a href="#">Section 3</a></li>
      <li><a href="#">Section 4</a></li>
      <li><a href="#">Section 5</a></li>
      <li><a href="#">Section 6</a></li>
    </ul>

    <p><img src="http://placehold.it/320x240&text=Ad" /></p>

  </div>

</div>
<footer class="wrapper">
</footer>
