.wrapper {
  @include grid-row();
}

.inline-list {
    @include inline-list;
}
.content,
.side-content {
  padding: 0 10px;
}


@media #{$small} {

  .content {
    @include grid-column(9);//, false, false, false, 3, false, false, left);
  }

  .side-content {
    @include grid-column(3);//, false, false, false, false, 9, false, left);
  }

  .small-content {
    @include grid-column(3);
  }

  .large-content {
    @include grid-column(9);
  }

  .medium-content {
    @include grid-column(6);
  }

}
